// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  h1 {
    font-size: 1.5rem;
  } /*1rem = 16px*/
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  h1 {
    font-size: 1.5rem;
  } /*1rem = 16px*/
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  ...;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  ...;
}

/* UNVIVERAL SITE STYLING */

body {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 2.25rem;
}

a {
  color: #fff;
}

hr {
  border-top: 1px solid #fff;
}

#hr-red {
  border-top: 1px solid #9c0404fe;
}

#dark-hr {
  border-top: 1px solid #1d252c;
}

#h1-carousel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px !important;
}

.h1-carousel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px !important;
}

@include (max-width: 480px) {
  .h1-carousel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px !important;
  }
}

html {
  scroll-behavior: smooth;
}

:-webkit-any {
  scroll-behavior: smooth;
}

.navbar {
  border-bottom: #1a428a 4px solid;
  background-image: linear-gradient(to top right, #1d252c, #101820);
  opacity: 0.9;
}

.navbar p {
  font-size: 22px;
}

#navbarCollapse {
  font-size: 14px;
}

.megamenu-li {
  position: static;
}

.megamenu {
  background-image: linear-gradient(to top right, #1d252c, #101820);
  position: absolute;
  width: 100%;
  padding: 25px;
  max-height: inherit;
}

#menu-link {
  color: #fff;
  font-size: 16px;
}

#menu-link {
  color: #fff;
  font-size: 16px;
}

.scrollable-menu {
  height: auto;
  max-height: 500px;
  overflow-x: scroll;
}

.title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

/* CARD STYLING */

.card {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  overflow-y: scroll;
  min-height: 255px;
  max-height: 400px;
}

.card .card-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.card:hover .card-overlay {
  opacity: 1;
}

.card-image {
  width: 100%;
}

img {
  border-radius: 5px;
}

.card-details {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.card:hover .card-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.card-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.card-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}

/* CARD IMAGES */

#card-pedestrian {
  background: url(../img/cards/pedestrian-coatings.jpg);
  background-size: cover;
}

#card-vehicular {
  background: url(../img/cards/vehicular-coatings.jpg);
  background-size: cover;
}

#card-roof-coatings {
  background: url(../img/cards/roof-coatings.jpg);
  background-size: cover;
}

#card-below-grade {
  background: url(../img/cards/below-grade.jpg);
  background-size: cover;
}

#card-epoxy-flooring {
  background: url(../img/cards/epoxy-flooring.jpg);
  background-size: cover;
}

#card-specialty {
  background: url(../img/cards/specialty-coatings.jpg);
  background-size: cover;
}

#card-wall-coatings {
  background: url(../img/cards/wall-coatings.jpg);
  background-size: cover;
}

#card-tech-resource {
  background: url(../img/cards/technical-resource.jpg);
  background-size: cover;
}

/* CARD IMAGES END */

#home .btn {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #9c0404fe;
  border-color: #9c0404fe;
  color: #fff;
}

#home .btn:hover {
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  border-color: #9c0404fe;
  color: #9c0404fe;
}

#home .tech-button {
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  border-color: grey;
  color: grey;
}

#home .tech-button:hover {
  font-family: Arial, Helvetica, sans-serif;
  border-color: grey;
  background-color: grey;
  color: #fff;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-item h1 {
  color: #fff;
  text-shadow: 0px 2px 2px rgba(36, 35, 35, 0.9);
}

.carousel-item p {
  color: #fff;
  text-shadow: 0px 2px 2px rgba(36, 35, 35, 0.9);
}

.carousel-item {
  height: 650px;
}

.carousel-image-1 {
  background: url(../img/parking-deck.jpg);
  background-size: cover;
  background-position: bottom;
}

.carousel-image-2 {
  background: url(../img/appplication.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-image-3 {
  background: url(../img/walk-way.jpg);
  background-size: cover;
  background-position: bottom;
}

.carousel-item h1 {
  color: #fff;
}

#products {
  background-image: url(../img/appplication.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-attachment: sticky;
  background-size: cover;
  min-height: 750px;
  margin-bottom: 0px;
}

#tech-data {
  background-image: url(../img/tech-data.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-attachment: sticky;
  background-size: cover;
  min-height: 350px;
  margin-bottom: 0px;
}

#pedestrian-coatings {
  background-image: url(../img/walk-way.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-attachment: sticky;
  background-size: cover;
  min-height: 750px;
  margin-bottom: 0px;
}

#contact p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

#contact .card-form {
  opacity: 0.8;
}

#contact .calendar-inner {
  padding-top: 75px;
  margin-bottom: 0px;
}

#promo {
  background-image: url(../img/parking-deck-2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: sticky;
  background-size: cover;
  min-height: 525px;
  margin-bottom: 0px;
}
#promo-card {
  opacity: 0.9;
}

#calendar p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 2.25rem;
}

#calendar .card-form {
  opacity: 0.8;
}

#calendar .calendar-inner {
  padding-top: 75px;
  margin-bottom: 0px;
}

#about {
  background-image: url(../img/about.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: sticky;
  background-size: cover;
  min-height: 450px;
  margin-bottom: 0px;
}

#about p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 2em;
}

#explore-head-section {
  font-family: Arial, Helvetica, sans-serif;
  background: url(../img/manufacturing-bg.png);
  color: #fff;
}

#explore-head-section .btn {
  font-family: Arial, Helvetica, sans-serif;

  background-color: transparent;
  border-color: #1a428a;
  color: #1a428a;
}

#explore-head-section .btn:hover {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1a428a;
  color: #fff;
}

#products-head-section {
  border-bottom: ##9c0404fe 3px solid;
}

#calendar-section {
  background-image: url(../img/calendar-bg.jpg);
}

#calendar-section .card-form {
  opacity: 0.8;
}

#calendar-section .calendar-inner {
  padding-top: 75px;
  margin-bottom: 0px;
}

#calendar p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 2.25rem;
}

#calendar .card-form {
  opacity: 0.8;
}

#calendar .calendar-inner {
  padding-top: 75px;
  margin-bottom: 0px;
}

ul {
  list-style-type: none;
}

li {
  color: white !important;
}

ol .sitemap {
  color: #1a428a !important;
}

ul .sitemap {
  color: #1a428a !important;
}

ol {
  list-style-type: square;
}

.page-footer {
  font-size: 16px !important;
  color: #fff;
}

#main-footer {
  background-image: linear-gradient(to top right, #1d252c, #101820);
  min-height: 375px;
}

#main-footer .page-footer:hover {
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
}

#main-footer p {
  font-size: 15px;
}
